<section id="welcome">
  <div id="languages">
    <ul>
      <li>
        <div class="br-flag"></div>
      </li>
      <li>
        <div class="us-flag"></div>
      </li>
    </ul>
  </div>
  <div id="about">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </div>
  <section id="highlights">
    <ul>
      <li>
        <img src="http://1.bp.blogspot.com/-nNPjVhVDS7Q/Ta6hvA7Qz4I/AAAAAAAAK_c/sqB9SVMlfRM/s400/INSTRUMENTOS-MUSICALES_HONSUY_3230-TAMBOR-INFANTIL-COFRADIA.jpg">
      </li>
      <li>
        <img src="http://1.bp.blogspot.com/-nNPjVhVDS7Q/Ta6hvA7Qz4I/AAAAAAAAK_c/sqB9SVMlfRM/s400/INSTRUMENTOS-MUSICALES_HONSUY_3230-TAMBOR-INFANTIL-COFRADIA.jpg">
      </li>
      <li>
        <img src="http://1.bp.blogspot.com/-nNPjVhVDS7Q/Ta6hvA7Qz4I/AAAAAAAAK_c/sqB9SVMlfRM/s400/INSTRUMENTOS-MUSICALES_HONSUY_3230-TAMBOR-INFANTIL-COFRADIA.jpg">
      </li>
      <li>
        <img src="http://1.bp.blogspot.com/-nNPjVhVDS7Q/Ta6hvA7Qz4I/AAAAAAAAK_c/sqB9SVMlfRM/s400/INSTRUMENTOS-MUSICALES_HONSUY_3230-TAMBOR-INFANTIL-COFRADIA.jpg">
      </li>
    </ul>
  </section>
</section>
<section id="first">
  <h1>First</h1>
</section>
<section id="second">
  <h1>Second</h1>
</section>
<section id="third">
  <h1>Third</h1>
</section>
<section id="fourth">
  <h1>Fourth</h1>
</section>
