<div class="content container">
	<div class="hero-unit">
		<div class="row-fluid welcome-section">
			<div class="span5 offset1 texto-apresentacao">
				<p> <img src="assets/logo.png" id="logo"/> <br />
					É uma entidade do terceiro setor que desenvolve atividades de ensino 
					e criação musical na Região Metropolitana do Recife
				</p>
			</div>
			<div class="span5">
				<iframe width="420" height="240" src="http://www.youtube.com/embed/as6KGingtw0" frameborder="0" allowfullscreen></iframe>
			</div>
		</div>
	</div>
	
	<div class="row-fluid photo-menu">
		<div class="span3"> 
			<span class="badge badge-important">
				<a href="#" onclick="scrollToAnchor('quem-somos');">Quem Somos</a>
			</span>
			<img src="assets/criancas.jpg" class="img-polaroid">	
		</div>
		<div class="span3"> 
			<span class="badge badge-important">Tambores do Pilar</span>
			<img src="assets/carnaval.jpg" class="img-polaroid">	
		</div>
		<div class="span3"> 
			<span class="badge badge-important">10 anos</span>
			<img src="assets/criancas.jpg" class="img-polaroid">	
		</div>
		<div class="span3"> 
			<span class="badge badge-important">Parceiros</span>
			<img src="assets/partners.jpg" class="img-polaroid">	
		</div>
	</div>

	<section id="quem-somos">
		<a name="quem-somos"> </a>

		<h2>  Quem somos</h2>
		<a class="back-link" href="javascrip: void;" onclick="scrollToAnchor('top');">^ Início</a>

	    <div class="section-img">
			<img src="assets/criancas.jpg">
			<p>
				Nasceu em 2002 com o intuito de atender a jovens da periferia da Região Metropolitana do Recife,
				contribuindo para a inclusão social através da profissionalização de jovens que aprendem e passam 
				a ensinar música, enfocando esta formação musical, através da valorização do sujeito e do desenvolvimento das habilidades. 
			</p>
			<p>
				Tem como objetivo geral a inclusão social fomentando a profissionalização. 
				Como objetivos específicos a iniciativa traz: a preservação da identidade cultural; 
				a educação através da arte e da cultura favorecendo a integração social e o acesso à cultura; 
				o estímulo à cidadania; o fortalecimento das expressões artísticas dos ciclos culturais; 
				o estímulo as novas formas de expressões culturais; o incentivo ao intercâmbio de diferentes organizações: 
				nacionais e internacionais; o incentivo a associações e organizações educacionais das comunidades para 
				que difundam e mantenham as manifestações sócio-culturais. 
			</p>

			<p>
				As aulas/oficinas e workshops são ministradas pelo idealizador do Grupo, 
				Jorge Martins e pelos próprios jovens. Além das oficinas o Grupo Corpos Percussivos, 
				(formado por jovens alunos), apresentam-se em vários palcos levando em seu repertório ritmos 
				diversos como Maracatu, Afoxé, Forró, Samba, Samba-reggae, Funk, revestidos de uma roupagem universal.
				 é a junção de tradição, modernidade e criatividade, formando um som autêntico.
			</p>
	    </div>
	</section>
	
	<section id="tambores">
		<a name="tambores"> </a>
		<h2>Tambores do Pilar</h2>
		<a class="back-link" href="javascrip: void;" onclick="scrollToAnchor('top');">^ Início</a>

	    <div class="section-img">
	      <img src="assets/carnaval.jpg">
	      <p>
	        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
	      </p>
	      <p>
	        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
	      </p>
	    </div>		
	</section>
	
	<section id="10anos">
		<a name="10anos"> </a>
		<h2>10 anos</h2>
		<a class="back-link" href="javascrip: void;" onclick="scrollToAnchor('top');">^ Início</a>

	    <div class="section-img">
	      <img src="assets/tambores-10-anos.jpg">
	      <p>
	        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
	      </p>
	      <p>
	        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
	      </p>
	    </div>		
	</section>
	
	<section id="partners">
		<a name="partners"> </a>
		<h2>Parceiros</h2>
		<a class="back-link" href="javascrip: void;" onclick="scrollToAnchor('top');">^ Início</a>

	    <div class="section-img">
	     	<iframe width="420" height="240" src="http://www.youtube.com/embed/SBP3Xc4iGjc" frameborder="0" allowfullscreen></iframe>
	    </div>		
	</section>
</div>