body {
  font-family: 'Droid Sans', sans-serif;
  line-height: 2em;
  background-color: #8B1A1A;
}

body, h1, h2, h3, h4, form, fieldset, input, label, p, em, strong, a, img, ul, li {
  font-style: normal;
  list-style-type: none;
}

.container {
  margin-right: auto;
  margin-left: auto;
  width: 960px;
}

.container:before, .container:after {
  display: table;
  line-height: 0;
  content: "";
}

.container:after {
  clear: both;
}

h1 {
  width: 100%;
  border-bottom: 5px solid #8B1A1A;
  padding-bottom: 10px;
  margin-bottom: 40px;
  text-align: left;

  margin: 0;
  color: #8B1A1A;
  font-weight: lighter;
  font-size: 2em;
  float: left;
  line-height: 1.3em;

  -webkit-margin-before: 0.67em;
  -webkit-margin-after: 0.67em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

.logo {
  height: 95px;
  width: 241px;
  float: right;
  right: 0;
  margin-right: 55%;
  margin-top: 10px;
  position: absolute;
  background: url(logo.png) no-repeat;
}

.background-tambor {
  height: 830px;
  width: 360px;
  position: absolute;
  background: url(background.jpg) no-repeat;
}

#welcome {
  min-height: 830px;
  background-color: #FEE275;
}

.content {
  float: left;
  min-height: 830px;
  width: 100%;
}

#first {
  background-color: #EEE8AA;
}

#second {
  background-color: #FFEFDB;
}

#third {
  background-color: #FFEBCD;
}

#fourth {
  background-color: #EEE8AA;
}

#languages {
  position: absolute;
  float: right;
  top: 0;
  right: 0;
  margin-right: 3%;
  width: 158px;
}

.about {
  float: left;
  position: relative;
  width: 100%;
  margin-top: 10%;
  margin-bottom: 30px;
  line-height: 30px;

  background-color: #EEE8AA;
  border-bottom: 5px solid #8B1A1A;
  -webkit-box-shadow: 0 3px 10px #888;
}

.about p {
  float: right;
}

.highlights-videos {
  display: block;
  position: relative;
  margin-right: auto;
  margin-left: auto;
}

.highlights-videos ul li {
  display: inline;
}

section p {
  color: #A52A2A;
  text-shadow: 1px 2px #F5DEB3;
}

.about p {
  padding: 5px;
}


#languages ul {
  width: 100%;
}

#languages ul li {
  display: inline;
  cursor: pointer;
}

#highlights {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  width: 960px;
  margin-top: 30px;
  margin: 0 auto;
}

#highlights ul li {
  display: inline;
  padding: 35px;
}

#highlights img {
  max-width: 150px;
  height: 115px;
  border: 2px solid #FFF;
  -webkit-box-shadow: 0 3px 10px #888;
  cursor: pointer;
}

.section-img {
  position: relative;
}
.section-img img {
  float: left;
  width: 300px;
  max-height: 600px;
  border: 2px solid #FFF;
  -webkit-box-shadow: 0 3px 10px #888;
}

.section-img p {
  float: left;
  margin-left: 2%;
  width: 66%;
}

@media screen and (max-width: 801px) {
  .container {
    width: 100%;
  }
  #highlights {
    width: 100%;
  }
  #highlights img {
    margin-left: 0px;
    width: 110px;
    height: 106px;
  }

  #highlights-videos {
    display: block;
  }
}

@media screen and (max-width: 686px) {
  .container {
    width: 88%;
  }
  .about {
    position: absolute;
    margin-top: 22%;
    margin-left: 24%;
    margin-bottom: 30px;
    max-width: 63%;
  }
  .about p {
    text-align: center;
  }
  #highlights {
    margin-top: 30%;
  }
  #highlights ul li {
    display: list-item;
    padding: 0px;
  }
  #highlights img {
    position: relative;
    margin-left: 0px;
    width: 60px;
    height: 56px;
  }
  #highlights-videos {
    display: none;
  }
}
