body {
  background-color: red;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 840px;
  height: 710px;
  background-color: white;
}

.container:before, .container:after {
  display: table;
  line-height: 0;
  content: "";
}

#languages {
  position: absolute;
  float: right;
  top: 0;
  right: 0;
  margin-right: 10%;
  background-color: blue;
}

#about {
  position: relative;
  margin: 40px 10%;
  margin-bottom: 0px;
  display: block;
  float: left;
  height: 450px;
  width: 670px;
  background-color: yellow;
}

