body {
	padding-top: 40px;
	background: #FFB;
	color: #922;
	font-family: 'Quicksand', sans-serif;
	background-color: #FEE275;
}

a, a:visited, a:active, a:hover { color: #922; }
.photo-menu a, .photo-menu a:visited, .photo-menu a:active { color: #FFF; }

/* Logo */
#logo { width: 80%; }

.logo img {
	width: 480px;
}
img.logo-section { width: 240px; text-align: center;}

#social-links{ padding: 12px;}
#social-links img { height: 48px; padding-right: 10px;}

/* Menu */
.navbar-fixed-top {
	opacity: 0.9;
}

.nav {
	font-size: 1.2em;
	font-weight: bold;
}

.navbar-inverse .navbar-inner  { background: #822; }
.navbar-inverse .brand, .navbar-inverse .nav > li > a { color: #FFF; }
.navbar-inverse .brand, .navbar-inverse .nav > li > a:hover { color: #DDD; }

#languages {
	padding-right: 20px;	
}

.photo-menu {
	text-align: center;
}
.photo-menu img {
	width: 75%;
}
.photo-menu span { font-size: 1.1em; line-height: 1.2em; }

/* Content */
.hero-unit {
	color: #333;
	background: url(dinamarca.jpg) center -50px;
	background-size: 100%;
	height: 250px;
	padding: 40px 30px;
	margin-bottom: 20px;
}

.hero-unit .row-fluid {
	background: rgba(250, 250, 250, 0.65);
	padding: 10px;
	margin: 0;
}

.texto-apresentacao {
	font-size: 1.3em;
	line-height: 1.4em;
	font-weight: bold;
}
.texto-apresentacao b { font-size: 1.6em; color: #922}

.content {
	padding: 20px 0;
}

section {
	padding: 20px;
	font-size: 1.3em;
	position: relative;
	clear: both;
}

section h2 {
	margin: 15px 5px;
	padding: 4px 0;
	border-bottom: 4px solid #922;
}

section .back-link {
	float: right;
}

.section-img {
  position: relative;
}
.section-img img {
  float: left;
  width: 280px;
  max-height: 600px;
  border: 2px solid #FFF;
  -webkit-box-shadow: 0 3px 10px #888;
}

.section-img p {
  float: left;
  margin-left: 2%;
  width: 66%;
}

/* Footer */
.footer .row{
	background: #000;
	color: #FEB;
	height: 140px;	
	margin: 0;
	padding: 10px;
	text-align: center;
}

.footer ul {
	list-style: none;
}

.footer-logo {
	margin: 50px 10px 0 0;
	background: url('footer_logo.png') right 0 no-repeat;
	background-size: 250px;
	height: 64px;
	padding: 10px;
}

.footer a, .footer a:visited, .footer a:active, .footer a:hover { color: #FFF; }