body {
  font-family: 'Droid Sans', sans-serif;
  line-height: 2em;
  background-color: #8B1A1A;
}

h1 {
  width: 95%;
  border-bottom: 5px solid #8B1A1A;
  padding-bottom: 10px;
  margin-bottom: 40px;
  text-align: left;

  margin: 0;
  color: #8B1A1A;
  font-weight: lighter;
  font-size: 2em;
  float: left;
  line-height: 1.3em;

  -webkit-margin-before: 0.67em;
  -webkit-margin-after: 0.67em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

#welcome {
  height: 860px;
  background-color: #FFEBCD;
}

#first {
  height: 860px;
  background-color: #EEE8AA;
}

#second {
  height: 860px;
  background-color: #FFEFDB;
}

#third {
  height: 860px;
  background-color: #FFEBCD;
}

#fourth {
  height: 860px;
  background-color: #EEE8AA;
}

#languages {
  position: absolute;
  float: right;
  top: 0;
  right: 0;
  margin-right: 3%;
  width: 158px;
}

#about {
  position: relative;
  padding: 20px;
  margin: 3% 25%;
  margin-bottom: 30px;
  display: block;
  float: left;
  height: 450px;
  width: 670px;
  background-color: #FFD39B;
  border-bottom: 5px solid #8B1A1A;
  -webkit-box-shadow: 0 3px 10px #888;
}

#highlights {
  margin-top: 30px;
  margin: 0 auto;
  width: 70%;
}

#languages ul li {
  display: inline;
}

#highlights ul li {
  display: inline;
  padding: 25px;
}

#highlights img {
  width: 150px;
  height: 130px;
  border: 2px solid #FFF;
  -webkit-box-shadow: 0 3px 10px #888;
  cursor: pointer;
}

.br-flag {
  width: 50px;
  height: 46px;
  background: url(country-flags.png);
  background-position-x: 249px;
  background-position-y: -96px;
}

.us-flag {
  width: 50px;
  height: 46px;
  background: url(country-flags.png);
  background-position-x: 249px;
  background-position-y: -96px;
}
