<!DOCTYPE html>
<html>
  <head>
    <title>Corpos Percussivos</title>
    <meta name="viewport" content="height=device-height, width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <meta name="author" content="Corpos Percussivos"/>
    <meta name="description" content="Corpos Percussivos" />
    <meta name="keywords" content="recife, maracatu" />
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= csrf_meta_tags %>
  </head>
  
  <body>
  <%= yield %>
  <%= javascript_include_tag "application" %>
  </body>
</html>
